.projects_content
{
    margin-bottom: var(--mb-1);
}

.projects_container
{
    row-gap: 0;
}

.projects_description
{
    margin-bottom: var(--mb-1);
    color: black;
}

.projects_header
{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1);
}

.project_bullet
{
    color: var(--first-color);
}

.projects_icon
{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.projects_subtitle
{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.projects_title
{
    font-size: var(--h3-font-size);
    margin-right: 5px;
    width: 450px;
}
.projects_title_main
{
    margin-right: 5px;
    width: 420px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.projects_title p
{
    width: 700px;
    text-align: center;
}

.projects_content ul
{
    margin-bottom: 10px;
}

.projects_title img
{
    width: 450px;
}

@media screen and (max-width: 350px) {
    .projects_title
    {
        font-size: var(--normal-font-size);
    }
}

@media screen and (min-width: 568px) {
    .projects_container{
        grid-template-columns: repeat(2, 1fr);
    }
}