.projects_content
{
    margin-bottom: var(--mb-1);
    grid-template-columns: .5fr 3fr;
}

.projects_container
{
    row-gap: 0;
}

.projects_description
{
    margin-bottom: var(--mb-1);
    color: black;
}

.projects_header
{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1);
}

.project_bullet
{
    color: var(--first-color);
}

.projects_icon
{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.projects_subtitle
{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.projects_title
{
    font-size: var(--h3-font-size);
    margin-right: 5px;
    width: 450px;
}
.projects_title_main
{
    margin-right: 5px;
    width: 420px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.projects_title p
{
    /* width: 700px; */
    text-align: center;
}

.projects_content ul
{
    margin-bottom: 10px;
}

.projects_title img
{
    width: 450px;
}

.projects_img
{
    width: 450px;
}

.projects_title
{
    width: 240px;
}

@media screen and (max-width: 350px) {
    .container
    {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    /* .projects_content
    {
        grid-template-columns: .25fr 3fr;
        width: 340px;
    } */

    .projects_title
    {
        width: 240px;
    }

    .container_flex, .projects_list
    {
        width: 240px;
    }

    .projects_main_contain
    {
        width: 240px;
        padding-right: var(--mb-0-5);
    }

    .projects_img
    {
        width: 250px;
    }

    .projects_title
    {
        font-size: var(--normal-font-size);
    }
}

@media screen and (min-width: 568px) {
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home_data{
        grid-column: initial;
    }
    .home_img{
        order: 1;
        justify-self: center;
    }

    .img_box
    {
        height: 210px;
        width: 210px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .seciton_subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header, .main, .footer_container
    {
        padding: 0 1rem;
    }

    .home_container{
        row-gap: 5rem;
    }
    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .img_box{
        width: 270px;
        height: 270px;
    }
    .home_scroll{
        display: block;
    }
    .home_scroll-button{
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .header, .main, .footer_container
    {
        padding: 0;
    }

    .img_box{
        width: 320px;
        height: 320px;
    }
    .home_social{
        transform: translateX(-6rem);
    }
}

@media screen and (max-width: 350px) {
    .projects_title
    {
        font-size: var(--normal-font-size);
    }
}

@media screen and (min-width: 568px) {
    .projects_container{
        grid-template-columns: repeat(2, 1fr);
    }
}