.wrapper {
    background: rgb(184,135,236);
    background: linear-gradient(144deg, rgba(184,135,236,1) 0%, rgba(143,91,255,1) 32%, rgba(93,221,247,1) 95%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 60%);
}
.container::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f0f, #f00);
    clip-path: circle(20% at 20% 30%);
}

.cardContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}