.aboutme {
    background: rgb(184,135,236);
    background: linear-gradient(36deg, rgba(184,135,236,1) 0%, rgba(143,91,255,1) 32%, rgba(93,221,247,1) 95%);
}

.aboutme .container {
    display: flex;
}

.aboutme .container .descript {
    width: 47%;
    color: white;
    margin-left: 3%;
}

.aboutme .container .descript h2 {
    font-weight: 900;
    font-size: 45px;
}

.aboutme .container .photo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.aboutme .container .photo .me {
    height: 500px;
    border-radius: 10%;

    width: 300px;
}